<footer>
    <div class="footer">
        <ul class="social-network social-circle">
            <li><a class="icoLinkedin" href="#" title="Linkedin"><i
                        class="fa fa-linkedin"></i></a></li>
            <li><a class="icoTwitter" href="#" title="Twitter"><i
                        class="fa fa-twitter"></i></a></li>
            <li><a class="icoFacebook" href="#" title="Facebook"><i
                        class="fa fa-facebook"></i></a></li>
            <li><a class="icoInstagram" href="#" title="Instagram"><i
                        class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>