<footer>
    <div class="footer bg-light">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center col col-3">
                <ul class="footerList">
                    <li>
                        <h6><em>Developed By:</em></h6>
                    </li>
                    <li>
                        <p>Alejandro Puerta - Kiko Quesada</p>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-center align-items-center col col-6">
                <ul class="social-network social-circle">
                    <li><a class="icoSteam" href="#" title="Steam"><i class="fa fa-steam"></i></a></li>
                    <li><a class="icoTwitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icoFacebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="icoInstagram" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="d-flex justify-content-center align-items-center col col-3">
                <ul class="footerList">
                    <li>
                        <h6><em>Links</em></h6>
                    </li>
                    <div class="row">
                        <li class="col-4"><a href="http://localhost:3000/games?page=1">Games</a></li>
                        <li class="col-4"><a href="http://localhost:3000/login">Login</a></li>
                        <li class="col-4"><a href="http://localhost:3000/register">Register</a></li>
                    </div>

                </ul>
            </div>
        </div>
    </div>
</footer>