
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container d-flex justify-content space-between">
    <a class="navbar-brand" href="/"><img
        src="https://res.cloudinary.com/djrv6yqfc/image/upload/v1613901619/Just_game_logo_navbar_fvdbwd.png"
        alt="just-game-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/games?page=1">Games</a></li>
        {{#if currentUser}}
        <li class="nav-item"><a class="nav-link" href="/games/new">New Game</a></li>
        <li class="nav-item"><a class="nav-link" href="/messages">Messages</a></li>
        {{/if}}
        {{#checkRole currentUser 'admin'}}
        <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
        {{/checkRole}}
      </ul>
      <ul class="navbar-nav my-2 my-lg-0 align-items-center">
        {{#if currentUser}}
        <li class="nav-item"><img class="avatar rounded-circle" src="{{currentUser.avatar}}" alt="UserAvatar"></li>
        <li class="nav-item">
          <form action="/logout" method="POST">
            <a href="/profile" class="text-decoration-none"><span class="mr-3">Hi {{currentUser.name}}!</span></a>
            <button type="submit" class="btn btn-danger btn-sm" href="/logout">Logout</button>
          </form>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>  
  </div>
</nav>