<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/images/just-game-nav.png" alt="just-game-logo">
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/games">Games</a></li>
        
          <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
        
      </ul>
    </div>
  </div>
  <div class="d-flex justify-content-end">
            <ul class="navbar-nav my-2 my-lg-0">
                {{#if currentUser}}
                  <li><img class="img-fluid avatar" src="{{currentUser.avatar}}" alt="UserAvatar"></li>
                  <li class="ps-5">Hi {{currentUser.name}}</li>
                {{/if}}
                <li class="nav-item">
                    <form action="/logout" method="POST">
                    <a href="/profile"><span class="mr-3 text-muted"></span></a>
                    <button type="submit" class="btn btn-danger btn-sm" href="/logout">Logout</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
</nav>