<div class="backgroundErrors align-items-center">
    <h1>YOU REACH A FORBIDDEN PATH LITTLE HOBBIT</h1>
    <img style="width: 50rem" class="image-fluid" src="https://res.cloudinary.com/djrv6yqfc/image/upload/v1614008809/JustGame/Background%20Images/8be247af7594ac0c5426a256363a86e1_z5zkrf.png" alt="">
</div>