@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Nav-bar */
p {
  font-family: 'Maven Pro' sans-serif;
  font-size: 16px;
}

/* BACKGROUNDS */

.backgroundErrors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundGames {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613933429/JustGame/Background%20Images/vzRN4in_his9xl.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundIndex {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613830201/dark-souls-girl-4k-b9_xwwuso.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundMessages {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613937723/JustGame/Background%20Images/u64ej6vi0hi51_k76jpl.png) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundProfile {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613938149/JustGame/Background%20Images/RE_1_mw9nuv.png) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundNewGame {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613938850/JustGame/Background%20Images/Geralt_y5ruui.png) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundUserList {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613939181/JustGame/Background%20Images/LOL_kjhryi.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundGameMessage {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613937723/JustGame/Background%20Images/692913_yew0in.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundGameEdit {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613940026/JustGame/Background%20Images/40102_ltedog.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundGameDetail {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613940980/JustGame/Background%20Images/wp2745575-warhammer-fantasy-wallpaper_litzm2.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundUserInfo {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613940809/JustGame/Background%20Images/WarhammerFantasy_vdt5hu.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.backgroundConversation {
  background: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1614008588/JustGame/Background%20Images/775057_vvw87j.png) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.avatar {
    margin-right: 5px;
    max-width: 50px; 
}
.input-group-text {
    min-width: 42px;
}
.input-group-text i {
    margin: 0 auto;
}
.userAvatar {
  max-width: 12rem;
}
/* Stars */
.txt-center {
    text-align: center;
  }
  .hide {
    display: none;
  }
  .clear {
    float: none;
    clear: both;
  }
  .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: start;
      position: relative;
  }
  .ratingHeader {
    margin: 10px auto;
    font-size: 18px;
    font-weight: 600;
    color: #0029ff;
  }
  .rating > label {
      float: right;
      display: inline;
      padding: 0;
      margin: 5px;
      position: relative;
      width: 1.1em;
      cursor: pointer;
      color: #000;
      transform: scale(2);
  }
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: #FFD700;
  }
 /*  End Stars */
 .verticalLine {
    border-right: solid grey;
    margin-right: 45px;
    padding-right: 45px;
    border-width: 1px;
 }
 .btnGoogle {
     background-color: #4885ed;
     color: white;
 }
 .btnSteam {
    background-color: #000;
    color: white;
 }
 .btnGoogle:hover {
   box-shadow: 0 0.5em 0.5em -0.4em grey;
   transform: translateY(-0.25em);
   color: white;
 }
 .btnSteam:hover {
    box-shadow: 0 0.5em 0.5em -0.4em grey;
    transform: translateY(-0.25em);
    color: white;
  }
  .btnRegular {
      background-color: #0029ff;
      color: white;
  }
  .btnRegular:hover {
    box-shadow: 0 0.5em 0.5em -0.4em grey;
    transform: translateY(-0.25em);
    color: white;
  }
  h1 {
    font-family: 'Righteous';
    font-size: 40px;
    color: #0029ff;
  }
  h2,
  h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
  }
  h4,
  h5 {
      font-family: 'Maven Pro', sans-serif;
      font-size: 1rem;
      font-style: italic;
  }
  h6 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    color: #0029ff;
  }
  .imageContainer {
      width: 15rem;
      height: 22rem;
  }
  .imageList { 
    min-width: 12rem;
    min-height: 22rem;
    max-height: 22rem;
    max-width: 16rem;
    border: 1px solid transparent;
    border-radius: 16px;
  }

  .imageList:hover {
    transform: scale(1.1);
  }

  .separatorLines {
      width: 40%;
      margin: 2rem;
      background-color: #0029ff;
      height: 0.1rem;
  }
  #map {
    height: 40rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 10px solid transparent;
    border-image: url(https://res.cloudinary.com/djrv6yqfc/image/upload/v1613912200/JustGame/Background%20Images/unnamed_mrcc3o.png) 30 round;
  }
  .stars {  
    color: #FFD700;
  }

  /* footer social icons */
  .footer {
    background: rgb(214, 214, 218);
    padding: 20px 0;
    text-align: center;
    font-family: 'Righteous';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
  }
  ul.social-network {
    list-style: none;
    display: inline;
    margin: auto;
  }
  ul.social-network li {
    display: inline;
    margin: 0 10px;
  }
  /* footer social icons */
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  .social-network a.icoTwitter:hover {
    background-color: #33ccff;
  }
  .social-network a.icoSteam:hover {
    background-color: #000000;
  }
  .social-network a.icoInstagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
  }
  .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoSteam:hover i {
    color: #fff;
  }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  .social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  .social-circle a {
    background-color: #CCD8EA;
  }
  @media screen and (max-width: 500px) {
    ul.social-network li {
      display: inline;
      margin: 0 5px;
    }
  }
  @media screen and (max-width: 450px) {
    ul.social-network li {
      display: inline;
      margin: 0 5px;
    }
    .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    .social-circle li i {
      margin: 0;
      line-height: 40px;
      text-align: center;
    }
  }
  @media screen and (max-width: 350px) {
    ul.social-network li {
      display: inline;
      margin: 0 2px;
    }
    .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    .social-circle li i {
      margin: 0;
      line-height: 40px;
      text-align: center;
    }
  }
  .footerList {
    list-style: none;
  }
  .footerList li p {
    font-size: 13px;
    margin: 2px auto;
    color: #0029ff;
  }
  .footerList li {
    text-align: start;
  }
  .footerList li a {
    text-decoration: none;
    font-size: 13px;
    margin: 2px auto;
    color: #0029ff;
  }
  .footerList li h6 {
    color: #0029ff;
    margin-bottom: 1px;
  }
  .footerList li a:hover {
    color: #000;
    text-decoration: underline;
  }
  .trophy {
    color: #FFD700;
    margin-right: 10px;
  }

  .nav-item a {
    font-family: 'Righteous';
  }

  .nav-item li a {
    font-weight: 500;
    color: #0029ff;
  }

  .form-label {
    font-weight: bold;
  }

  .divMain {
    min-height: 100vh;
  }

  .row {
    --bs-gutter-x: 0 !important;
  }

  .gameContainer {
    max-height: 50rem;
  }

  .h2Index {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 3px 4px rgba(150, 150, 150, 1);
  }

  .h1Index {
    font-size: 3rem;
    color: white;
    text-shadow: 0px 3px 4px rgba(150, 150, 150, 1);
  }

  .bg-secondary p {
    color: white;
  }

  .h5UserProfile {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .textRegister {
    color: white;
    font-weight: 600;
  }

  .text-decoration-none p {
    font-weight: 600;
    color: #0029ff;
  }

  .text-decoration-none p:hover {
    color: black;
  }

  /* INDEX */

  .imageLogo {
    width: 20rem;
  }

  .mainMargin {
    margin-bottom: 10rem;
  }

.container {
  background-color: rgba(248, 249, 250, 0.8);
}

.titleCarousel {
  font-size: 5vh;
  font-weight: 600;
}

.textCarousel {
  font-size: 2.5vh;
  font-weight: 600;
}

.boldText {
  font-weight: 600;
}

.videoIndex {
  width: 50rem;
  height: 25rem;
}